<h1><%= @product[:name] %></h1>
<p><%= @product[:id_number] %></p>
<p><%= @product[:quantity] %></p>

<br>
<!-- <a href="/products/<%= @i %>/edit">[Edit]</a>
<a href="/products/<%= @i %>/delete">[Delete]</a> -->
<a href="/products">[Index]</a>
